.charity-dashboard{
    text-align: center;
    padding: 30px;
    font-size: 40px;
}

.charity-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap:wrap;
    padding-right: 5px;
    padding-bottom: 30px;
    flex-direction: row; 
    background-color: whitesmoke;
 
}

.charity-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/peace.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.spca-div{
    margin-top: 30px;
    width: 300px;
   
}

.spca-img{
    height:170px;
    width: 150px;
    margin-top: 30px;
    
}

.msf-div{
    margin-top: 30px;
    width: 300px;
}

.msf-img{
    height:100px;
    margin-top: 30px;
}
.ccs-div{
    margin-top: 30px;
    width: 300px;
}

.ccs-img{
    height:80px;
    margin-top: 30px;
}

.camh-div{
    margin-top: 30px;
    width: 300px;
}

.camh-img{
    height:80px;
    margin-top: 30px;
}



.full-chart{
    display: flex;   
    text-align: center;
    align-items: center;
    justify-content: space-around;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 50px;
    background-color: whitesmoke;

}
.chart-title{
    text-align: center;
    padding-top: 20px;
    background-color: whitesmoke;
    border-bottom: 3px black solid;
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 20pt;
}