.sale-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/3.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
}
.title1{
    font-size: 60pt;
    margin-bottom: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
}

.tabs-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(25, 46, 80, 0.952);
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.274);

}

.add-item-btn{
    text-decoration: none;
    background-color: white;
}

li {
    text-align: center;   
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: coral;
    text-decoration: none;
    color: white;
}

.faq{
display: flex;
flex-direction: row;
padding: 10px;
flex-basis: auto;
background-color: whitesmoke;
}

.seller{
border-right: 2px solid black;
}

.buyer{
    border-left: 2px solid black;
}

.step-title{
  padding: 20px;
    text-align: center;
}

.steps{
    display: block;
    height: 80px;
    width: 80px;
    line-height: 80px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background-color: black;
    color: white;
    text-align: center;
    font-size: 3em;
    margin:0 auto;   
}

.step-desc{
    height: 80px;
    padding: 30px;
    text-align: center;
}


