.banner{
    height: 100px;
    background-color:rgba(0, 0, 0, 0.726);
    bottom: 0;
    display: flex;
    width: 100%;
}

.media-img{
    height: 40px;
    display: inline-block;   
    text-align: center;
    margin-left: 40px;
    margin-top: 20px;

  
}

.media-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    text-align: center;
    align-content: center;
    margin-left: 37.5%;
}