.logged-in{
    display: flex;
    flex-direction: row;
    color:white;
    background-color: rgb(0, 0, 0);
    padding-right: 20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    width: 100%;
}

.login-signup{
    color:white;
    background-color: rgb(0, 0, 0);
    padding-right: 20px;
    padding-left: 20px;
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/ocean.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;   
}

.title1{
    font-size: 60pt;
    margin: -20px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-style: italic;
}
.title2{
    font-size: 60pt;
    margin-top: -80px;
    margin-bottom: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: rgb(211, 208, 208);

}

.tabs-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.274);  
}
.logout{
    display:flex;
    justify-content: space-between;
    margin-left: 30px;
}

li {
    text-align: center;
    opacity: 1.0;
    font-weight: bold;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgba(255, 127, 80, 0.486);
    text-decoration: none;
}
.top-5-title{
    font-size: 30pt;  
}
.item-link{
    text-decoration: none;
    color: black;
}

.item-link:hover{
    color: rgb(245, 143, 125);
    text-decoration: none;
    font-weight: bold;
}

.item-div-home{
    display:flex;
    flex-direction: row;
    height: 100px;
    font-size: 20pt;
    width: 100px;
    justify-content: center;
    padding: 20px;
    background-color:whitesmoke;
}

.item-div-home:nth-of-type(1){
    display:flex;
    flex-direction: row;
    height: 430px;
    font-size: 20pt;
    width: 100px;
    justify-content: center;
    padding: 20px;
    background-color:whitesmoke;
}
.item-image-home{
    display:flex;
    flex-direction: column;
    height: 200px;
    padding-right: 10px;
}
.item-image-home:nth-of-type(1){
    display:flex;
    flex-direction: row;
    height: 400px;
}


.items-home{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.desc-box{
    width: 200px;
   
}

.desc-box:nth-of-type(1){
    width: 200px;
   
} 
