.main-bid-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("/4.jpeg");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bid-image{
    height: 220px;
    display: flex;
    flex-direction: row;
    width: 320px;
    flex-direction: column;
    text-align: left;
}

.bid-container{
    display:flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding-left: 200px;
    padding-top: 50px;
    background-color: whitesmoke;

}
.active {
    background-color: rgb(136, 76, 94);
  }

.bid-desc{
    display: flex;
    flex-direction: row;
    margin: 100px;
    width: 320px;
    flex-direction: column;
    text-align: left;
}