.login-area{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/ocean.jpeg");
    width: 100%;
    height: 1200px;
    
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.377);
    padding: 100px;
   
    text-align: center;
}


.login-titles{
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    font-family: 'Lato', sans-serif;
    color: whitesmoke;
}
.username{
    background-color:whitesmoke;
    width: 300px;
    align-self: center;
    border-radius: 5px;
}


.password{
    align-self: center;
    background-color: whitesmoke;
    width: 300px;
    border-radius: 5px;
}

.login-btn{
    margin-top: 20px;
    width: 200px;
    align-self: center;
    border-radius: 5px;
   
  
}

.titlea{
    padding-top: 20px;
    font-size: 60pt;
    margin-bottom: -5px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
}
.titleb{
    font-size: 60pt;
    margin-top: -60px;
    margin-bottom: 30px;
    font-family: 'Libre Franklin', sans-serif;
    font-weight: bold;
    color: rgb(211, 208, 208);
    text-align: center;
}

.active {
    background-color: black;
  }
