.signup-main{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("/ocean.jpeg");
}

.signup-button{
    display: flex;
    width: 100%;
    
    align-items: center;
   
}
.upload-image{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.add-text{
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    color: white;

}

.upload-img{
    color: white;
}

.active {
    background-color: rgb(136, 76, 94);
  }